@import "tailwindcss";

@theme {
  --color-black: #08000e; /* Changes all 'bg-black', 'text-black', etc. */
}


button { 
    cursor: pointer;
}

body {
  font-family: "DM Sans", sans-serif;
}

p {
    font-size: 16px;
}
